*.user
Src/.vs
Src/BeebEm.VC.db
Src/BeebEm.VC.VC.opendb
Src/Debug
Src/Release
Src/Hardware/Acorn1770/Debug
Src/Hardware/Acorn1770/Release
Src/Hardware/Acorn1770/x64
Src/Hardware/OpusDDOS/Debug
Src/Hardware/OpusDDOS/Release
Src/Hardware/OpusDDOS/x64
Src/Hardware/Watford/Debug
Src/Hardware/Watford/Release
Src/Hardware/Watford/x64
Src/InnoSetup/Release
Src/InnoSetup/x64
Src/InnoSetup/Debug
Src/BeebEm.vcxproj.bak
Src/x64
Src/BeebEm.aps
Src/BeebEm.aps
Src/Hardware/reSID/Debug/*
Src/Hardware/reSID/Release/*
Src/Hardware/reSID/x64/*
Src/Hardware/reSID/Release/*
cpu65x/dorman/Debug/*
cpu65x/dorman/Release/*
cpu65x/dorman_irq/Debug/*
cpu65x/dorman_irq/Release/*
cpu65x/m6502/Debug/*
cpu65x/m6502/Release/*
cpu65x/m6502/x64/*
cpu65x/test1/Debug/*
cpu65x/test1/Release/*
cpu65x/test2/Debug/*
cpu65x/test2/Release/*
cpu65x/testasm/*.lst
cpu65x/testasm/*.map
cpu65x/testasm/*.mos
cpu65x/testasm/*.sy2
cpu65x/testasm/*.noi
*.bak


cpu65x/m6502/.vs/m6502/v15/Browse.VC.db
cpu65x/m6502/.vs/m6502/v15/.suo
Blitter/Debug/*
Blitter/Release/*
